<%= bootstrap_form_for([amendment.becomes(Amendment), articulated.becomes(Articulated)], layout: :horizontal, label_col: "col-sm-3 text-sm-right", control_col: "col-sm-7") do |f| %>
  <% if articulated.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= t('activerecord.errors.prohibited_from_being_saved', :model => Articulated.model_name.human.downcase, :count => articulated.errors.count) %></h2>
      <ul>
      <% articulated.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_radio_buttons :type, descendants_collection(Articulated), :first, :last, custom: :switch, inline: true, wrapper_class: 'align-items-center type' %>

  <%= f.collection_select :section_id, budget.sections.all, :id, :full_title, prompt: true %>
  <%= f.text_field :title %>
  <%= f.text_area :text %>
  <%= f.text_area :justification %>
  <%= f.text_field :number, wrapper_class: 'number' %>

  <input id="numbered_articulated_types" type="hidden" value="<%= amendment.numbered_articulateds.map(&:name).to_json %>" />

  <div class="actions">
    <%= f.submit class: 'btn btn-sm btn-success' %>
    <%= link_to t('helpers.action.back'), amendment_path(amendment), class: 'btn btn-sm btn-danger' %>
  </div>
<% end %>

<script type="text/javascript">
  function is_numbered_articulated( articulated_type ) {
    return JSON.parse( $('#numbered_articulated_types').val() ).indexOf(articulated_type) != -1
  }

  $(function () {
    $(".form-group.type input").bind('change', function () {
      var initial_articulated_type = $(this).val();
      if ( is_numbered_articulated(initial_articulated_type) ) {
        $(".form-group.number").show('fast');
      } else {
        $(".form-group.number").hide('fast');
      }
    });
  });
  $( document ).ready(function() {
    $("#type input").change();
  });
</script>
