<div id="<%= modification_class.name.demodulize %>" class="tab-pane<% if active %> active<% end %>">
  <div class="row px-3">

    <% if modification_class.show_field?(:section) %>
      <div id="section" class="pseudoiframe col-12 col-sm-6"
        src="<%= browse_section_amendment_path(id: amendment, section_id: modification.section, service_id: modification.service_id, program_id: modification.program_id, locked_section: modification.locked_section?) %>"></div>
    <% end %>

    <% if modification_class.show_field?(:organism) && amendment.section %>
      <div id="organism" class="pseudoiframe col-12 col-sm-6"
        src="<%= browse_organism_amendment_path(id: amendment, section_id: modification.section, organism_id: modification.organism_id, locked_section: modification.locked_section?) %>"></div>
    <% end %>


    <% if modification_class.show_field?(:program) && amendment.organism %>
      <div id="program_id" class="pseudoiframe col-12 col-sm-6"
        src="<%= browse_program_amendment_path(id: amendment, organism_id: amendment.organism, program_id: modification.program_id) %>"></div>
    <% end %>

    <% if modification_class.show_field?(:chapter) %>
      <div id="chapter" class="pseudoiframe col-12 col-sm-6"
        src="<%= browse_chapter_amendment_path(id: amendment, chapter_id: modification.chapter_id, article_id: modification.article_id, concept_id: modification.concept_id, subconcept_id: modification.subconcept_id) %>"></div>
    <% end %>

  </div>

  <% if modification_class.show_field?(:project) %>
    <%= f.text_field :project %>
  <% end %>

  <% if modification_class.show_field?(:project_new) %>
    <%= f.check_box :project_new, custom: :switch, class: 'text-center', wrapper_class: 'col-9 offset-3 text-left mb-3' %>
  <% end %>

  <% if modification_class.show_field?(:amount) %>
    <%= f.text_field :amount, type: :number, step: '0.01', min: 0 %>
  <% end %>

  <input id="current_type" type="hidden" value="<%= modification.type %>" />
  <input id="detailed_modification_types" type="hidden" value="<%= amendment.detailed_modifications.map(&:name).to_json %>" />

</div>
