<%= form_with(model: [amendment.becomes(Amendment), modification.becomes(Modification)], local: true) do |form| %>
  <% if modification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(modification.errors.count, "error") %> prohibited this modification from being saved:</h2>

      <ul>
      <% modification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="type">
    <%= form.label :type %>
    <%= form.collection_radio_buttons :type, Modification.descendants.map{|a| [a.to_s, a.new.type_name]}, :first, :last %>
  </div>

  <div class="field">
    <%= form.label :section_id %>
    <%= form.collection_select :section_id, current_budget.sections.all, :id, :full_title %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.collection_select :service_id, current_budget.services.all, :id, :full_title %>
  </div>

  <div class="field">
    <%= form.label :program_id %>
    <%= form.collection_select :program_id, current_budget.programs.all, :id, :full_title %>
  </div>

  <div class="field">
    <%= form.label :chapter_id %>
    <%= form.collection_select :chapter_id, current_budget.chapters.all, :id, :full_title %>
  </div>

  <div class="field">
    <%= form.label :article_id %>
    <%= form.collection_select :article_id, current_budget.articles.all, :id, :full_title %>
  </div>

  <div class="field">
    <%= form.label :concept_id %>
    <%= form.collection_select :concept_id, current_budget.concepts.all, :id, :full_title %>
  </div>

  <div class="field">
    <%= form.label :subconcept_id %>
    <%= form.collection_select :subconcept_id, current_budget.subconcepts.all, :id, :full_title %>
  </div>

  <div class="field">
    <%= form.label :project %>
    <%= form.text_area :project %>
  </div>

  <div class="field">
    <%= form.label :project_new %>
    <%= form.check_box :project_new %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
