<%= form_with(model: [amendment.becomes(Amendment), modification.becomes(Modification)], local: true) do |form| %>
  <% if modification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(modification.errors.count, "error") %> prohibited this modification from being saved:</h2>

      <ul>
      <% modification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="pseudoiframe col-12 col-sm-6" src="<%= browse_section_amendment_path(id: amendment, section_id: modification.section_id, service_id: modification.service_id, program_id: modification.program_id)%>"></div>
    <div class="pseudoiframe col-12 col-sm-6" src="<%= browse_chapter_amendment_path(id: modification.amendment, chapter_id: modification.chapter_id, article_id: modification.article_id, concept_id: modification.concept_id, subconcept_id: modification.subconcept_id)%>"></div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 field d-flex">
      <%= form.label :project %>
      <%= form.text_field :project, style: 'flex-grow: 1; margin-left: 4px;' %>
    </div>

    <div class="col-12 col-sm-6 field">
      <%= form.label :project_new %>
      <%= form.check_box :project_new %>
    </div>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_include_tag 'pseudoiframe-outer' %>
<%= stylesheet_link_tag    'pseudoiframe' %>