<h1 class="page-title"><%= fa_icon " product-hunt", text: t('.title') %></h1>

<div class="row">
<% budgets.each_with_index do |budget, i| %>
  <a class="card-block py-2 col-12 <%= i.zero?? 'bg-active' : 'col-md-6' %>" href="<%= budget_amendments_path(budget) %>" style="flex-grow: 2;">
    <div class="card">
      <div class="card-body">
        <span><%= l(budget.date) %></span>
        <h2 class="card-title"><%= budget.title %></h2>
        <p class="card-text"><%= t('helpers.views.count_model', count: budget.amendments.length, model: budget.amendments.model_name.human(count: budget.amendments.length).downcase) %></p>
      </div>
    </div>
  </a>
<% end %>
</div>
