<%= bootstrap_form_for([budget, amendment.becomes(Amendment)], layout: :horizontal, label_col: "col-sm-3 text-sm-right", control_col: "col-sm-7") do |f| %>

  <% if amendment.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= t('activerecord.errors.prohibited_from_being_saved', :model => Amendment.model_name.human.downcase, :count => amendment.errors.count) %></h2>
      <ul>
      <% amendment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless amendment.locked_type? %>
    <%= f.collection_radio_buttons :type, descendants_collection(Amendment), :first, :last, custom: :switch, inline: true, wrapper_class: 'align-items-center bootstrap-switch-success', class: 'bootstrap-switch-success' %>
  <% end %>

  <%= f.collection_select :territory_id, Territory.all.order(:id).map{ |t| [t.id, t.display_name] }, :first, :last, include_blank: t('helpers.views.choose_model', model: Territory.model_name.human.downcase) %>
  <%= f.text_area :explanation, rows: '7' %>

  <div class="actions">
    <%= f.submit class: 'btn btn-sm btn-success' %>
    <% if controller.action_name == 'edit' %>
      <%= link_to t('helpers.action.show_model', model: Amendment.model_name.human.downcase), amendment_path(amendment), class: 'btn btn-sm btn-primary' %>
      <%= link_to t('helpers.views.list_model', model: Amendment.model_name.human(count: 0).downcase), budget_amendments_path(amendment.budget), class: 'btn btn-sm btn-primary' %>
    <% else %>
    <%= link_to t('helpers.action.cancel'), budget_amendments_path(amendment.budget), class: 'btn btn-sm btn-danger' %>
    <% end %>
  </div>
<% end %>
