<div>
  <% if section %>
    <% unless locked_section? %>
      <%= reset_link(browse_section_amendment_path(locked_section: locked_section?)) %>
    <% end %>
    <%= browse_title(section) %>
  <% else %>
    <% budget.sections.each do |section| %>
      <%= browse_link(section, browse_section_amendment_path(section_id: section, locked_section: locked_section?)) %>
    <% end %>
  <% end %>

  <% if service %>
    <%= reset_link(browse_section_amendment_path(section_id: section, locked_section: locked_section?)) %>
    <%= browse_title(service) %>
  <% elsif section %>
      <hr>
      <% section.services.each do |service| %>
        <%= browse_link(service, browse_section_amendment_path(section_id: section, service_id: service, locked_section: locked_section?)) %>
      <% end %>
  <% end %>

  <% if program %>
    <%= reset_link(browse_section_amendment_path(section_id: section, service_id: service, locked_section: locked_section?)) %>
    <%= browse_title(program) %>
  <% elsif section && service %>
      <hr>
      <% section.programs.each do |program| %>
        <%= browse_link(program, browse_section_amendment_path(section_id: section, service_id: service, program_id: program, locked_section: locked_section?)) %>
      <% end %>
  <% end %>
</div>

<%= hidden_field(:modification, :section_id, value: section.id) if section %>
<%= hidden_field(:modification, :service_id, value: service.id) if service %>
<%= hidden_field(:modification, :program_id, value: program.id) if program %>

<%= javascript_include_tag 'pseudoiframe-inner' %>