<div>
  <%= render "partials/flash_message" %>
  <%= hidden_field :request, :original_fullpath, value: object_original_fullpath %>
  <% if modification_class.use_field?(:section) %>
    <% if section %>
      <%= reset_link(:section, browse_section_amendment_path(modification_type: modification_type, locked_section: locked_section?, locked_program: locked_program?, locked_organism: locked_organism?), locked_section?) %>
      <%= browse_title(section) %><%= tag(:br) %>
    <% else %>
      <%= collection_title(budget.sections) %>
      <% sections.each do |section| %>
        <%= browse_link(section, browse_section_amendment_path(modification_type: modification_type, section_id: section, locked_section: locked_section?, locked_program: locked_program?, locked_organism: locked_organism?)) %>
      <% end %>
      <%= new_object_form(:section) %>
    <% end %>
  <% end %>

  <% if modification_class.use_field?(:service) %>
    <% if service %>
      <%= reset_link(:service, browse_section_amendment_path(modification_type: modification_type, section_id: section, locked_section: locked_section?, locked_program: locked_program?, locked_organism: locked_organism?)) %>
      <%= browse_title(service) %><%= tag(:br) %>
    <% elsif section %>
        <hr>
        <%= collection_title(section.services) %>
        <% section.services.each do |service| %>
          <%= browse_link(service, browse_section_amendment_path(modification_type: modification_type, section_id: section, service_or_organism_id: service, locked_section: locked_section?, locked_program: locked_program?, locked_organism: locked_organism?)) %>
        <% end %>
        <%= new_object_form(:service) %>
    <% end %>
  <% end %>

  <% if modification_class.use_field?(:organism) %>
    <% if organism || locked_organism? %>
      <%= reset_link(:organism, browse_section_amendment_path(modification_type: modification_type, section_id: section, locked_section: locked_section?, locked_program: locked_program?, locked_organism: locked_organism?), locked_organism?) %>
      <%= browse_title(organism || amendment.organism) %><%= tag(:br) %>
    <% elsif section %>
        <hr>
        <%= collection_title(section.organisms) %>
        <% section.organisms.each do |organism| %>
          <%= browse_link(organism, browse_section_amendment_path(modification_type: modification_type, section_id: section, service_or_organism_id: organism, locked_section: locked_section?, locked_program: locked_program?, locked_organism: locked_organism?)) %>
        <% end %>
        <%= new_object_form(:organism) %>
    <% end %>
  <% end %>

  <% if modification_class.use_field?(:program) && programs_previous %>
    <% if program || locked_program? %>
      <%= reset_link(:program, browse_section_amendment_path(modification_type: modification_type, section_id: section, service_or_organism_id: programs_previous, locked_section: locked_section?, locked_program: locked_program?, locked_organism: locked_organism?), locked_program?) %>
      <%= browse_title_editable(program || amendment.program) %>
      <%= tag(:br) %>
    <% else %>
        <hr>
        <%= collection_title(section.programs) %>
        <% programs.each do |program| %>
          <%= added_badge_for program %>
          <%= browse_link(program, browse_section_amendment_path(modification_type: modification_type, section_id: section, service_or_organism_id: programs_previous, program_id: program, locked_section: locked_section?, locked_program: locked_program?, locked_organism: locked_organism?)) %>
        <% end %>
        <%= new_object_form(:program) %>
    <% end %>
  <% end %>
</div>

<%= hidden_field(:modification, :section_id, value: section.id) if section %>
<%= hidden_field(:modification, :service_id, value: service.id) if service %>
<%= hidden_field(:modification, :organism_id, value: organism.id) if organism %>
<%= hidden_field(:modification, :program_id, value: program.id) if program %>
