<div>
  <% if section %>
    <% unless locked_section? %>
      <%= reset_link(browse_section_amendment_path(locked_section: locked_section?)) %>
    <% end %>
    <%= browse_title(section) %>
  <% else %>
    <%= collection_title(budget.sections) %>
    <% budget.sections.each do |section| %>
      <%= browse_link(section, browse_section_amendment_path(section_id: section, locked_section: locked_section?)) %>
    <% end %>
  <% end %>

  <% if organism %>
    <%= reset_link(browse_section_amendment_path(section_id: section, locked_section: locked_section?)) %>
    <%= browse_title(organism) %>
  <% elsif section %>
      <hr>
      <%= collection_title(section.organisms) %>
      <% section.organisms.each do |organism| %>
        <%= browse_link(organism, browse_organism_amendment_path(section_id: section, organism_id: organism, locked_section: locked_section?)) %>
      <% end %>
  <% end %>
</div>

<%= hidden_field(:modification, :section_id, value: section.id) if section %>
<%= hidden_field(:modification, :organism_id, value: organism.id) if organism %>
