<div>
  <%= hidden_field :request, :original_fullpath, value: request.original_fullpath.split('&object[').first %>
  <% if chapter %>
    <%= reset_link(browse_chapter_amendment_path(modification_type: modification_type)) %>
    <%= browse_title(chapter) %><%= tag(:br) %>
  <% else %>
    <%= collection_title(budget.chapters) %>
    <% budget.chapters.each do |chapter| %>
      <%= browse_link(chapter, browse_chapter_amendment_path(modification_type: modification_type, chapter_id: chapter)) %>
    <% end %>
    <%= new_object_form(:chapter) %>
  <% end %>

  <% if article %>
    <%= reset_link(browse_chapter_amendment_path(modification_type: modification_type, chapter_id: chapter)) %>
    <%= browse_title(article) %><%= tag(:br) %>
  <% elsif chapter %>
    <hr>
    <%= collection_title(chapter.articles) %>
    <% chapter.articles.each do |article| %>
      <%= browse_link(article, browse_chapter_amendment_path(modification_type: modification_type, chapter_id: chapter, article_id: article)) %>
    <% end %>
    <%= new_object_form(:article) %>
  <% end %>

  <% if concept %>
    <%= reset_link(browse_chapter_amendment_path(modification_type: modification_type, chapter_id: chapter, article_id: article)) %>
    <%= browse_title_editable(concept) %>
    <%= tag(:br) %>
  <% elsif article %>
    <hr>
    <%= collection_title(article.concepts) %>
    <% concepts.each do |concept| %>
      <%= added_badge_for concept %>
      <%= browse_link(concept, browse_chapter_amendment_path(modification_type: modification_type, chapter_id: chapter, article_id: article, concept_id: concept)) %>
    <% end %>
    <%= new_object_form(:concept) %>
  <% end %>

  <% if subconcept %>
    <%= reset_link(browse_chapter_amendment_path(modification_type: modification_type, chapter_id: chapter, article_id: article, concept_id: concept)) %>
    <%= browse_title_editable(subconcept) %>
    <%= tag(:br) %>
  <% elsif concept %>
    <hr>
    <%= collection_title(concept.subconcepts) %>
    <% subconcepts.each do |subconcept| %>
      <%= added_badge_for subconcept %>
      <%= browse_link(subconcept, browse_chapter_amendment_path(modification_type: modification_type, chapter_id: chapter, article_id: article, concept_id: concept, subconcept_id: subconcept)) %>
    <% end %>
    <%= new_object_form(:subconcept) %>
  <% end %>
</div>

<%= hidden_field(:modification, :chapter_id, value: chapter.id) if chapter %>
<%= hidden_field(:modification, :article_id, value: article.id) if article %>
<%= hidden_field(:modification, :concept_id, value: concept.id) if concept %>
<%= hidden_field(:modification, :subconcept_id, value: subconcept.id) if subconcept %>
