<div>
  <% if amendment.organism %>
    <%= browse_title(amendment.organism) %>
  <% end %>

  <% if program %>
    <%= reset_link(browse_program_amendment_path(organism_id: amendment.organism)) %>
    <%= browse_title(program) %>
  <% elsif amendment.organism %>
      <hr>
      <%= collection_title(amendment.organism.programs) %>
      <% amendment.organism.programs.each do |program| %>
        <%= browse_link(program, browse_program_amendment_path(organism_id: amendment.organism, program_id: program)) %>
      <% end %>
  <% end %>
</div>

<%= hidden_field(:modification, :program_id, value: program.id) if program %>
